/*Structure*/

body{
    background:url(images/business.jpg) ;
    font-family: Arial, Helvetica, sans-serif;
}

#content{
    background-color:rgb(245, 245, 220,0.95);
    width: 75%;
    margin: auto;
    padding: 5px;
    border: 1px solid turquoise;
    border-radius: 5px;
    box-shadow: 10px 10px gold;
}
header, footer{
    background-color:lightblue;
    padding: 5px;
    color: white;
}
img{
    padding:20px;
    margin-right: auto;
    border: 15px solid;
    border-radius: 5px;
}
table{
    background-color: seagreen;
    width: 50%;
}
table, th, td{
    border: 1px solid;
}
th, td{
    color:white;
}
/*Navigation*/

#links ul{
    padding-left: 0;
}
#links li{
    list-style-type: none;
    display: inline-block;
}
#links a{
    color: black;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
#links a:hover{
    color:darkred;
    border-bottom: 1px solid white;
}

/*Typography*/
header h1{
    text-align: center;
}
footer p{
    text-align: center;
}