/* Structure */
:root{
    --main-background-color: grey;
    --primary-color: cornflowerblue;
    --gallery-color: white;
}

body {
    background: var(--main-background-color);
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    background:white;
    width:70%;
    margin:auto; /* center */
    border-radius:5px;
 
}

header, footer {
    background: var(--primary-color);
    color:white;
    position: relative;
    padding: 20px 0;
}

main {
    padding:5px;
}


/*Playing With Position*/
#logo{
   float: left;
   height: 75px;
   width: 75px;
   position: absolute;
   top: 10px;
   left: 10px;
}


/* Navigation */

#main-nav ul {
    padding-left:0;
}

#main-nav li {
    list-style-type: none;
    text-align: center;
    border-bottom:1px solid white;
}

#main-nav li {
    background: var(--gallery-color);
}


#main-nav a {
    color:black;
    text-decoration: none;  /* remove the underlines */
    border-bottom:1px solid transparent;
}

#main-nav a:hover {
    border-bottom:1px solid black;
}

#main-nav a:hover{
    color: crimson;
}

/* Typography */
header h1 {
    text-align: center;
}

footer p {
    text-align:center;
}

.left-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Space between image and text */
    padding: 20px;
}
h2, p{
    text-align: center;
}
#toggle-nav div{
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
}
.hide-small{
    display: none;
}
.image-container {
    width: 50%; /* Takes up about 2/3 of the area */
}
img{
    width: 400px;
    height: 300px;
}
.image-container img {
    height: auto;
    border-radius: 5px;

}

.text-container {
    width: 30%;
    text-align: left;
}

.text-container h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.text-container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}


/* Larger screens */
@media only screen and (min-width: 768px) { 
    .columns {
        display:flex;
    }

    #main-nav li {
        flex:1;
    }

    #main-nav li:not(:last-child) {
        border-right: 1px solid white;
    }
    #toggle-nav{
        display: none;
    }
    .hide-small{
        display: flex;
    }
}