:root {
    --primary-color: #73000A;
    --secondary-color: #000000;
    --header-color: #FFFFFF;
    --hover-color: #ECECEC;
    --text-hover-color: #CC2E40;
    --table-color: #C7C7C7;
}
    

body {
    font-family: "Berlingske Sans", "Arial", sans-serif;
    background-color: var(--header-color);
    margin: 0 0 0 0;

}

#main-header {
    background-color: var(--secondary-color);
    width: 1170px;
    padding-top: 1em;
    /* float: left; */
}

#header-content {
    background-color: var(--secondary-color);
}

#header-divider {
    background-color: var(--primary-color);
    margin-bottom: 25px;
    /* padding: 1%; */
}

#school-content {
    padding: 10px;
}

#school-content a {
    color: var(--primary-color);
}

#school-content ul {
    padding-left: 15px;
}

#about-content {
    border-bottom: 1px solid var(--table-color);
}

#section1 {
    padding-right: 50px;
}

#more-content {
    padding-top: 10px;
}

#hallmarks-link a {
    text-decoration: none;
}

#hallmarks-link a:hover {
    background-color: var(--text-hover-color);
    color: var(--header-color);
    transition: background-color .3s, box-shadow .3s .01s, color .3s .01s;
}

#hallmarks a {
    text-decoration: underline;
}

#hallmarks ul,
#uofsc-hallmarks ul {
    padding-top: 5px;
    padding-left: 40px;
}

#uofsc-hallmarks {
    padding-bottom: 80px;
}

#section2 {
    margin-top: 20px;
    padding-right: 45px;
}

#footer-divider {
    background-color: var(--hover-color);
}

#footer-info {
    background-color: var(--primary-color);
}

#main-footer {
    background-color: var(--primary-color);
    padding: 10px;
    width: max-content;
}

#info-nav {
    width: 1200px;
}

#black-bar {
    background-color: var(--secondary-color);
    border-top: 1px solid var(--header-color);
}


/* Navigation */
#gateway-nav {
    position: relative;
}

#gateway-nav ul {
    list-style-type: none;
}

#gateway-nav li {
    padding: 5px;
    display: inline;
}


#gateway-nav a {
    color: var(--header-color);
    text-decoration: none;
}

#sidebar-nav ul {
    padding-left: 0;
    margin-top: 0;
}


#sidebar-nav li {
    list-style-type: none;
    border-bottom: 1px solid var(--table-color);
    padding: 10px;
}

#sidebar-nav li:first-child {
    list-style-type: none;
    border-top: 1px solid var(--table-color);
    border-bottom: 1px solid var(--table-color);
    padding: 10px;
}

#sidebar-nav li:last-child {
    padding-left: 100px;
    border: 0;
}

#sidebar-nav a {
    color: var(--secondary-color);
    text-decoration: none;
}

#list-options ul {
    padding-left: 0;
}

#list-options li {
    list-style-type: none;
    border-bottom: 1px solid var(--table-color);
    padding: 15px 30px 15px 5px;
}

#footer-nav {
    position: relative;
}

#footer-nav ul {
    list-style-type: none;
    margin-right: 0;
}

#footer-nav li {
    padding: 5px;
    display: inline;
}

#college-schools,
#offices-divisions,
#tools {
    margin-right: 59px;
    width: 450px;
    padding-right: 40px;
}

#college-schools ul,
#offices-divisions ul,
#tools ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
}


#college-schools li,
#offices-division li,
#tools li {
    padding-right: 30px;
}

#black-bar ul {
    list-style-type: none;
}

#black-bar li {
    text-decoration: none;
    display: inline;
}

/* Callouts */
#right-sidebar {
    margin-bottom: 20px;
    margin-right: 0;
    width: 100%;
    padding: 20px;
    display: block;
    border-left: 5px solid var(--primary-color);
    border-right: 1px solid var(--table-color);
    border-top: 1px solid var(--table-color);
    border-bottom: 1px solid var(--table-color);
}

/* Images */
#header-content img {
    padding-top: 40px;
    padding-left: 10px;
}

#school-content img {
    max-width: 100%;
}

#main-footer img {
    padding-top: 20px;
}

/* Typography */

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: var(--header-color)
}

#header-divider h2,
#footer-divider h2 {
    padding: 5px;
    margin-left: 5px;
}

p {
    color: var(--secondary-color);
}

#gateway-nav {
    color: var(--header-color);
    font-size: 10px;
}

#main-sidebar {
    font-weight: 800;
    font-size: 1.125em;
}

#sidebar-nav li:last-child {
    padding-left: 72%;
    font-size: 14px;
}

#school-content h3 {
    margin-top: 5px;
    margin-bottom: 0;
}

#about-nav a,
#school-content h2,
#school-content h3,
#hallmarks a {
    color: var(--primary-color);
}

#school-content h2,
#school-content h3 {
    font-family: "Berlingske Sans", "Arial", sans-serif;
    color: var(--primary-color);
}

#school-content p,
#school-content li {
    font-size: 1em;
    line-height: 1.8em;
    padding-bottom: 5px;
}

#school-content p,
#school-content h3 {
    margin-top: 20px;
    margin-bottom: 0;
}

#about-content p {
    font-size: 1.25rem;
    line-height: 1.6;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 500;
}

#list-options li {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 800;
}

#right-sidebar h3 {
    margin-top: 0;
    font-family: 'Times New Roman', Times, serif;
}

#footer-divider h2 {
    color: var(--secondary-color);
}

#footer-nav a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 15px;
}

#main-footer h4,
#info-nav li {
    color: var(--header-color);
}

#main-footer h4 {
    border-bottom: 1px solid var(--header-color);
}

#info-nav li {
    font-size: .75em;
    line-height: 1.3em;
    list-style: none;
    padding-left: 0;
    color: var(--header-color)
}

#black-bar li {
    font-size: .75em;
    color: var(--header-color);
}

/* Larger Resolutions */
/* Media Query */
/* For larger devices e.g. laptops */
@media only screen and (min-width: 600px) {
    .columns {
        display: flex;
    }

    .wrap {
        flex-wrap: wrap;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
    }

    #header-content img {
        padding-top: 30px;
        padding-left: 190px;
    }

    #header-content h2 {
        padding-left: 190px;
        font-weight: 700;
        font-size: 1.6em;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    #footer-divider h2 {
        padding-left: 190px;
        font-weight: 700;
        font-size: 1.6em;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    #gateway-nav {
        position: absolute;
        margin-left: 550px;
    }

    #main-content {
        padding-left: 190px;

    }

    #sidebar-nav li {
        padding: 10px;
    }

    #sidebar-nav li:last-child {
        padding-left: 100px;
    }

    #school-content {
        padding-left: 35px;
        padding-right: 240px;
    }

    #footer-nav {
        position: absolute;
        padding-left: 835px;
    }

    #main-footer {
        padding-left: 190px;
        padding-bottom: 20px;
    }

    #black-bar {
        padding: 0px 5px 5px 125px;
    }

    #black-bar ul {
        margin-left: 180px;
    }

}